<!DOCTYPE html>
<!--Creamos la segunda página dentro de la web dedicada al contacto de los usuarios con la empresa.
Comenzamos con las mismas etiquetas del doctype,html, y la cabecera con las meta etiquetas titulo y enlace a los estilos del css-->
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fabricamos encimeras de todo tipo de piedras desde 1947. Elaboradas con marmol de primera calidad, el mejor resultado garantizado.">
    <meta name="robots" content="NOFOLLOW"> 
    <meta name="Author" content="Manuel">
    <meta name="keywords" content="Encimeras,marmol,piedra,cocinas" >
    <meta name="revisit-after" content="2 days">
    <title>Encimeras Miguel Angel</title>
    <link rel="stylesheet" href="../css/estilos.css">
</head>
<!--Abrimos el cuerpo de esta página-->
<body>
    <!--Abrimos la sección header que será idéntica al index pero cambiamos class-->
    <header>
        <img src="../images/logo.png" alt= "logo empresa" title= "logo" width="1024" height="1024">
        <nav>
            <span class="enlace">
                <a href="../index.html">Inicio</a>
            </span>
            <span class="enlace">
                <a href="../views/productos.html" >Productos</a>
            </span>
            <span class="enlace">
                <a href="../views/presupuesto.html">Presupuesto</a>
            </span>
            <span class="enlace">
                <!--Esta vez el class que difencia por estilos con css en la página que nos encontramos lo situamos en el enlace contacto de la barra de navegación-->
                <a class="pagina_actual" href="../views/contacto.html">Contacto</a>
            </span>
        </nav>
    </header>
    <!--Creamos el section con el contenido principal de la página-->
    <section>
        <!--Introducimos un mapa de google maps con la siguiente etiqueta y la url facilitada por el propio google maps para introducirlo en el html y que aparezca en la web-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3050.129466114131!2d-3.834184723608373!3d40.13939977247143!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd41f136c38c3213%3A0x91b158b215655d02!2sC.%20Mercurio%2C%2014%2C%2045200%20Illescas%2C%20Toledo!5e0!3m2!1ses!2ses!4v1756305350732!5m2!1ses!2ses" width="800" height="498" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        <!--También ponemos un div con un pequeño título y un parrafo en el que facilitamos los datos de contacto de la empresa, como dirección, teléfono y el email de la empresa como un enlace que lleva a gmail para abrir tu correo electrónico-->
        <div>
            <h2>Contacto</h2>
            <p>
                Horario de atención al cliente:<br>De lunes a viernes de 09:00 a 17:00 en nuestro teléfono:<br>085469587<br><br>También puedes escribirnos a nuestro correo electrónico y te atenderemos lo antes posible.<br><a href="https://workspace.google.com/intl/es/gmail/">encimerasmiguelangel@gmail.com</a>
                <br><br>Visítanos para ver nuestras exposiciones de encimeras, nuestra dirección es C. Mercurio, 14, 45200 Illescas, Toledo.
            </p>
        </div>
    </section>
    <!--Colocamos el pie de página que es igual que en el index-->
    <footer>
        <a href="https://www.facebook.com/?locale=es_ES">
            <img src="../images/facebook.png" alt="facebook" title="facebook" width="180" height="180">
        </a>
        <a href="https://x.com/?lang=es">
            <img src="../images/twitter.jpeg" alt="twitter" title="twitter" width="1000" height="625">
        </a>
        <a href="https://www.instagram.com/">
            <img src="../images/Instagram.png" alt="instagram" title="instagram" width="5001" height="5001">
        </a>
        <p>
            ¿Dónde nos encontramos?<br>
            C. Mercurio, 14, 45200 Illescas, Toledo
        </p>
        <a href="#">Aviso legal</a>
    </footer>
<!--cerramos el body y el html-->
</body>
</html>